
MODEL="qwen3-235b-a22b-instruct-2507"
API_KEY="<YOUR API KEY>"
BASE_URL="https://cloud.infini-ai.com/maas/v1/"
RERANK_MODEL="bge-reranker-v2-m3"

TAVILY_API_KEY="<YOUR API KEY>"

LANGSMITH_TRACING="true"
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY="<YOUR API KEY>"

MAX_CONTEXT_TOKEN_CNT=32000
MAX_CONTEXT_TOKEN_CNT_LARGE=96000
LITERATURE_SEARCH_MIN_TOOL_CALL=10

MAX_TOOL_TOKEN_CNT=2000

SMTP_SERVER=smtp.yeah.net
SMTP_PORT=25
EMAIL_USER=<YOUR EMAIL>
EMAIL_PASSWORD=<YOUR EMAIL SMTP PASSWORD>